<div class="container mt-3">
    <h4>Order result</h4>
    <div class="text-center alert alert-info">
        <h4> I know you have many options but thank you for choosing us.</h4><br />
        Your Order sended to us shop!  Thanks you for shopping.
                 <h5><a href="/customer/Home/Index">Go to shopping</a><br /></h5> 

        <img src="~/HinhanhSP/thank.webp" class="img-responsive" style="height:300px;height:300px" />

    </div>
</div>
